#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// --- Wi-Fi connection information ---
// Enter your Wi-Fi SSID and password in the ""
#define WIFI_SSID "YOUR_WIFI_SSID_HERE"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD_HERE"

#endif