#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// --- Adafruit API Key ---
#define AIO_USERNAME "YOUR_USER_NAME"
#define AIO_KEY "YOUR_API_KEY"

// --- Shiftr.io Settings ---
#define SHIFTR_KEY "YOUR_KEY"
#define SHIFTR_SECRET "YOUR_SECRET"

#endif
