#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// --- WiFi Settings ---
#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASSWORD "YOUR_PASSWORD"

// --- Adafruit IO ---
#define AIO_SERVER "io.adafruit.com"
#define AIO_SERVERPORT 1883
#define AIO_USERNAME "YOUR_AIO_USERNAME"
#define AIO_KEY "YOUR_AIO_API_KEY"

// --- Shiftr.io Settings ---
// weather-station
#define SHIFTR_SERVER "weedcarpet525.cloud.shiftr.io"
#define SHIFTR_SERVERPORT 1883
#define SHIFTR_KEY "YOUR_SHIFTR_KEY"
#define SHIFTR_SECRET "YOUR_SHIFTR_SECRET"
// lighting
#define LIGHTING_SHIFTR_SERVER "lighting.cloud.shiftr.io"
#define LIGHTING_SHIFTR_SERVERPORT 1883
#define LIGHTING_SHIFTR_KEY "YOUR_LIGHTING_USERNAME"
#define LIGHTING_SHIFTR_SECRET "YOUR_LIGHTING_TOKEN_SECRET"

#endif
