#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// --- WiFi Settings ---
#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASSWORD "YOUR_PASSWORD"

// --- Adafruit IO ---
#define AIO_USERNAME "YOUR_AIO_USERNAME"
#define AIO_KEY "YOUR_AIO_API_KEY"

// --- Shiftr.io ---
#define SHIFTR_KEY "YOUR_SHIFTR_KEY"
#define SHIFTR_SECRET "YOUR_SHIFTR_SECRET"

#endif
